@model kursach.Models.Claim

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Claim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClaimId" />
            <div class="form-group">
                <label asp-for="StatusCode" class="control-label"></label>
                <select asp-for="StatusCode" class="form-control" asp-items="ViewBag.StatusCode"></select>
                <span asp-validation-for="StatusCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyId" class="control-label"></label>
                <select asp-for="PolicyId" class="form-control" asp-items="ViewBag.PolicyId"></select>
                <span asp-validation-for="PolicyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfClaim" class="control-label"></label>
                <input asp-for="DateOfClaim" class="form-control" />
                <span asp-validation-for="DateOfClaim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmoutOfClaim" class="control-label"></label>
                <input asp-for="AmoutOfClaim" class="form-control" />
                <span asp-validation-for="AmoutOfClaim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
